*{
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
}
body{
    height: 720px;
    background-color: #121417;
    display: flex;
   justify-content: center;
    align-items: center;
}
section{
    height: 375px;
    width: 375px;
    padding: 25px;
    background-color: #252d37;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #00000098;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icone{
    background-color:  #7c879825;
    border-radius: 50%;
    height: 35px;
    width: 35px;

    display: flex;
    justify-content: center;
     align-items: center;
}
p{
    color : #7c8798;
    font-size: 15px;
    font-weight: 100;
}
ul{
    position: relative;
    padding: 0px 0px  15px 0px;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
 .avaliação {
    height: 50px;
    width: 45px;
    background-color:  #7c879825;
    border-radius: 50%;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliação:hover{ 
    background-color: #959eac ;
    transform: scale(1.3);
    

}
.avaliação:active{
    background-color: #fb7413;
}
.botao:active{
    color: #fb7413 ;
    background-color:  #ffffff;
}
.botao{
    
    background-color:  #fb7413;
    width: 100%;
    height: 30%;
    padding: 15px;
    border: none;
    border-radius: 25px;
}
.newclass{
    color : #fb7413;
    width :12rem;
    height : 1.7rem;
    margin-left :20% ;
    background-color : #7c879825 ;
    border-radius : 5rem ;

    display: flex;
    align-items: center;
    justify-content: center;

}